*{
    margin: 10;
    padding: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: rgb(237, 238, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    position: relative;
}

/*Header*/
header{
    background: url(/img/logo.jpg) rgb(255, 253, 253) ;
    background-repeat: no-repeat;
     background-size: 150px;
     background-position: 200px; 
     max-height: 400px;
          width: auto;
     height: 200px;
    
}
/*Titulo*/
.Titulo{
   
    color: rgb(202, 87, 87);
    padding-top: 30px;

}
/*Menu*/
.Menu   ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 30px; 
}
/*Items de Menu*/
 .Menu   ul  li{
    background-color: #7dd827;
}
/*Enlaces Menu*/
.Menu  ul   a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*Items del Menu*/
.Menu  ul  li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

/*Efecto Hover*/
 .Menu  ul  li:hover{
    background: #5b78a7;
}

/*Menu Desplegable*/
.Menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}
/*Items del Menu desplegable*/
.Menu ul ul li{
    float:none;
    width: 150px;

}
/*Enlace de los items del menu desplegable*/
.Menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;
}

/*Items del Menu desplegable*/
.Menu ul li:hover > ul {
    display: block;
}
/**********************************************************/

/*Section 1*/
.Main{
border: 15px solid black;
}
.Main .Contenedor_1{
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}
/*********/
/*Informacion*/
/*********************/
.Main1{
    margin: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.Main1 .Info .texto{
    border: 15px solid rgb(29, 25, 25);
    color:#104db0;
    width: 550px;
    height: auto;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Main1 .Info .text:hover{
    background: rgb(209, 124, 124);
    
}
/*Efecto en Imagenes*/
.Main .Contenedor_1 img{
    margin: 15px;
}
.Main .Contenedor_1 img:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
h2{
    cursor: default;
    width: 13px;
    margin: auto;
    display: block;
    justify-content: center;
    text-align: center;
    -webkit-animation: bounce .3s ease infinite alternate;
    font-family: 'Erica One', cursive;
    font-size: 25px;
    color: rgb(240, 18, 18);
    line-height: 100px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .6);
  }
  /* ANIMATION */
  @-webkit-keyframes bounce {
    100% {
      top: -30px;
      
      text-shadow: 0 1px 0 #CCC,
                   0 2px 0 #CCC,
                   0 3px 0 #CCC,
                   0 4px 0 #CCC,
                   0 5px 0 #CCC,
                   0 6px 0 #CCC,
                   0 7px 0 #CCC,
                   0 8px 0 #CCC,
                   0 9px 0 #CCC,
                   0 30px 30px rgba(0, 0, 0, .3);
    }
  }
/****************************************************/
/*Footer*/
.contenedor4 div{
    border: 3px solid black;
     margin: auto;
    padding: 30px 30px;
    float: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: black;
    color: white;
}
.contenedor4 .contenedor4_1{
   float: left;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h5{
    color: white;
    float: left;
}
p{
    color: rgb(210, 210, 215);
    font-size: 15px;
    white-space: pre;
    justify-content: center;
    text-align: justify;
}

.contenedor4 .contenedor4_1 .Parte2{
    list-style: none;
}

/*******************************************************/